* {
    box-sizing: border-box;
}

/* TABLA */
table th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    min-width: 9.7em;
    max-width: 9.7em;
    padding: 4px;
}

#table {
    width: 100%;
    margin-top: 1%;
}

#table div {
    width: 100%;
    display: table-cell;
    text-align: center;
    padding: 1px;
}

#table > div > div {
    display: table-row;
}

#table > div > div div:nth-child(1) {
    border-left: 1px solid silver;
}

#table > div > div > div > input,
#table > div > div > div > i{
    min-width: 9.47rem;
    max-width: 9.47rem;
    border: none;
    text-align: center;
}

#table > div > div > div > i {
    color: red;
    font-size: 1.3rem;
}

body > main > section:nth-child(3) > table > tbody > tr > th:nth-child(1) {
    border-left: 1px solid black;
}

#table > div > div > div  {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
    padding: 2px;
}

#table > table > tbody > tr > th:nth-child(1) {
    border-left: 1px solid black;
}

/*CAJERO TICKET*/
#mainCaj{
    margin-left: 5em;
}

#ticket{
    margin-top: 5em;
    margin-left: 3em;
}

#añadir-ticket{
    width: 23%;
}

#posibleTicket{
    margin-top: 2em;
    height: 700px;
    width: 400px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}